<!DOCTYPE html>
<html ng-app="DentalApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Dental Web Application</title>
    <link rel="stylesheet" href="~/libs/lumx/dist/lumx.css" />
    <link rel="stylesheet" href="~/libs/lumx/dist/roboto.css" />
    <link rel='stylesheet' href='/libs/md-date-time/dist/md-date-time.css'>
    <link rel="stylesheet" href="~/Content/customize-table.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div ng-show="!isLogged" ng-include="'/Home/Templates/Header'"></div>
    <div ng-show="isLogged" ng-controller="UserController">
        <div ng-include="'/User/Templates/Header'"></div>
        <div ng-include="'/User/Templates/Sidebar'"></div>
    </div>
    <div ui-view></div>
</body>
</html>
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/velocity/velocity.js"></script>
<script src="~/libs/moment/min/moment-with-locales.js"></script>
<script src="~/libs/angular/angular.js"></script>
<script src="~/libs/lumx/dist/lumx.js"></script>
<script src="~/libs/md-date-time/dist/md-date-time.js"></script>
<script src="~/libs/angular/angular-ui-router.min.js"></script>
<script src="~/libs/angular/angular-cookies.js"></script>
<script src="~/libs/angular/angular-local-storage.js"></script>
<script src="~/Scripts/main/app.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="signalr/hubs"></script>
<script src="~/Scripts/services/dentalService.js"></script>
<script src="~/Scripts/directives/dentalDirective.js"></script>
<script src="~/Scripts/directives/dataExport.js"></script>
<script src="~/Scripts/directives/dataGrid1.js"></script>
<script src="~/Scripts/directives/dataGrid2.js"></script>
<script src="~/Scripts/directives/dataGrid3.js"></script>
<script src="~/Scripts/directives/dataModal1.js"></script>
<script src="~/Scripts/directives/scrollableContainer.js"></script>
<script src="~/Scripts/controllers/IndexController.js"></script>
<script src="~/Scripts/controllers/HomeController.js"></script>
<script src="~/Scripts/controllers/UserController.js"></script>
<script src="~/Scripts/controllers/UserInformationController.js"></script>
<script src="~/Scripts/controllers/ScheduleController.js"></script>
<script src="~/Scripts/controllers/SettingController.js"></script>
<script src="~/Scripts/controllers/NotificationController.js"></script>
<script src="~/Scripts/controllers/AppointmentController.js"></script>
<script src="~/Scripts/controllers/AppointmentApprovalController.js"></script>
<script src="~/Scripts/controllers/MenuController.js"></script>
<script src="~/Scripts/controllers/CivilStatusController.js"></script>
<script src="~/Scripts/controllers/UserMenuController.js"></script>
<script src="~/Scripts/controllers/UserTypeController.js"></script>
<script src="~/Scripts/controllers/TreatmentTypeController.js"></script>
<script src="~/Scripts/controllers/SpecialAppointments.js"></script>