<!--Data Table Content-->
<div class="card">
    <div class="myTableContainter" scrollable-container="getData()">
        <!--For IE-->
        <div id="progressDataGrid2"></div>
        <iframe id="exportTemplate" style="display:none"></iframe>
        <!--End of for IE-->
        <table class="myTableContent dir-export" id="export">
            <thead>
                <tr class="myTableRow-header" style="text-align:left">
                    <th></th>
                    <th class="myTableCell cell-seqno fs-subhead display-block tc-white">
                        <strong>{{datadefinition.Header[datadefinition.Header.length - 1]}}</strong>
                    </th>
                    <th class="myTableCell cell-10 fs-subhead display-block tc-white"
                        ng-repeat="header in datadefinition.Header" ng-if="$index != (datadefinition.Header.length - 1)"
                        ng-click="processSorting(datadefinition.Keys[$index])">
                        <strong>{{filterHeader(header)}}</strong>
                        <span class="mdi mdi-sort-descending"
                              ng-show="criteria === datadefinition.Keys[$index] || criteria === '-' + datadefinition.Keys[$index] ? sortByDesc: false">
                        </span>
                        <span class="mdi mdi-sort-ascending"
                              ng-show="criteria === datadefinition.Keys[$index] || criteria === '-' + datadefinition.Keys[$index] ? sortByAsc: false">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="myTableRow"
                    ng-repeat="data in datadefinition.DataList | orderBy: criteria">
                    <td class="myTableCell cell-seqno fs-subhead display-block tc-white">
                        <lx-dropdown position="{{menuPosition}}" from-top="true">
                            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <lx-dropdown-menu>
                                <div id="menu"></div>
                                <ul ng-repeat="menu in contextMenuLabelDefault">
                                    <li>
                                        <a class="dropdown-link dropdown-link--is-large" ng-click="setSelected(data.Id); actionForm(menu)" ng-disabled="datadefinition.ViewOnly">
                                            <i class="{{contextMenuLabelImage[$index]}}"></i>
                                            <span>{{ $index === 0 ? 'Refresh':menu}}</span>
                                        </a>
                                    </li>
                                    <li ng-if="$index == 0" class="dropdown-divider"></li>
                                </ul>
                            </lx-dropdown-menu>
                        </lx-dropdown>
                    </td>
                    <td class="myTableCell cell-seqno fs-subhead display-block">
                        {{$index + 1}}
                    </td>
                    <td class="myTableCell cell-10 fs-subhead display-block"
                        ng-repeat="key in datadefinition.Keys">
                        {{filterValue(data[key], $index)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
