
<div id="progress"></div>
<!--Data Table Content-->
<div ui-grid="gridOptions" class="grid" ng-style="{ 'height': height }" ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div><br />
