<!--Data Table Content-->
<div flex-container="row" flex-gutter="24" style="{{filterContainerStyle}}">
    <div flex-container="row" style="{{checkBoxStyle}}">
        <div flex-item>
            <div class="checkbox">
                <input type="checkbox"
                       id="filterStatus"
                       class="checkbox__input"
                       ng-model="filterStatus">
                <label for="filterStatus" class="checkbox__label"></label>
            </div>
        </div>
    </div>
    <br />
    @*Filter Container*@
    <div ng-show="filterStatus" flex-container="row" flex-gutter="24" style="{{filterContainerStyle}}">
        @*Criteria*@
        <div flex-container=" row" style="{{criteriaStyle}}">
            <div flex-item>
                <lx-select ng-model="filteredData.Definition" placeholder="Criteria" choices="filterdefinition.Source" floating-label>
                    <lx-select-selected>
                        {{ $selected.Label }}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.Label }}
                    </lx-select-choices>
                </lx-select>
            </div>
        </div>
        @*Text field*@
        <div ng-show="showFilterText" flex-container="row" style="{{searchValueStyle}}">
            <div flex-item>
                <lx-text-field>
                    <input ng-model="searchValue" type="text" ng-disabled="" />
                </lx-text-field>
            </div>
        </div>
        @*From Date*@
        <div ng-show="showFilterDate" flex-container="row" style="{{searchDateTimeStyle}}">
            <div flex-item>
                <lx-text-field label="From">
                    <input type="text"
                           name="FilteredFromDate"
                           ng-model="filterDate.FromDate"
                           ng-click="showDialog('FilteredFromDate')">
                </lx-text-field>
            </div>
        </div>
        @*To Date*@
        <div ng-show="showFilterDate" flex-container="row" style="{{searchDateTimeStyle}}">
            <div flex-item>
                <lx-text-field label="To">
                    <input type="text"
                           name="FilteredToDate"
                           ng-model="filterDate.ToDate"
                           ng-click="showDialog('FilteredToDate')">
                </lx-text-field>
            </div>
        </div>
        @*From Time*@
        <div ng-show="showFilterTime" flex-container="row" style="{{searchDateTimeStyle}}">
            <div flex-item>
                <lx-text-field label="From">
                    <input type="text"
                           name="FilteredFromTime"
                           ng-model="filterTime.FromTime"
                           ng-click="showDialog('FilteredFromTime')">
                </lx-text-field>
            </div>
        </div>
        @*To Time*@
        <div ng-show="showFilterTime" flex-container="row" style="{{searchDateTimeStyle}}">
            <div flex-item>
                <lx-text-field label="To">
                    <input type="text"
                           name="FilteredToTime"
                           ng-model="filterTime.ToTime"
                           ng-click="showDialog('FilteredToTime')">
                </lx-text-field>
            </div>
        </div>
        @*DropDown Select*@
        <div ng-show="showFilterDropDown" flex-container="row" style="{{searchValueStyle}}">
            <div flex-item>
                <lx-select ng-model="filteredStatus.Definition" placeholder="{{filteredData.Definition.Label}}" choices="filteredData.Definition.Values" floating-label>
                    <lx-select-selected>
                        {{ $selected.Label }}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.Label }}
                    </lx-select-choices>
                </lx-select>
            </div>
        </div>
        @*Search Button*@
        <div flex-container="row" style="{{searchStyle}}">
            <div flex-item>
                <button class="btn btn--s btn--blue btn--raised" ng-click="submitFilteredData()" lx-ripple>Search</button>
            </div>
        </div>
    </div>
    @*Modal for From Date filtering*@
    <lx-dialog class="dialog dialog--l" id="FilteredFromDate" auto-close="true">
        <div class="dialog__header">
        </div>
        <div class="dialog__content">
            <div style="overflow-x:auto;">
                <time-date-picker ng-model="filterDate.FromDateHolder"
                                  display-mode="date"
                                  orientation="false"
                                  on-save="saveFn(filterDate.FromDateHolder); closeFilteredFromDate('FilteredFromDate')">
                </time-date-picker>
            </div>
        </div>
        <div class="dialog__actions">
        </div>
    </lx-dialog>
    @*Modal for To Date filtering*@
    <lx-dialog class="dialog dialog--l" id="FilteredToDate" auto-close="true">
        <div class="dialog__header">
        </div>
        <div class="dialog__content">
            <div style="overflow-x:auto;">
                <time-date-picker ng-model="filterDate.ToDateHolder"
                                  display-mode="date"
                                  orientation="false"
                                  on-save="saveFn(filterDate.ToDateHolder); closeFilteredToDate('FilteredToDate')">
                </time-date-picker>
            </div>
        </div>
        <div class="dialog__actions">
        </div>
    </lx-dialog>
    @*Modal for From Time filtering*@
    <lx-dialog class="dialog dialog--l" id="FilteredFromTime" auto-close="true">
        <div class="dialog__header">
        </div>
        <div class="dialog__content">
            <div style="overflow-x:auto;">
                <time-date-picker ng-model="filterTime.FromTimeHolder"
                                  display-mode="time" orientation="false"
                                  on-save="saveFn(filterTime.FromTimeHolder); closeFilteredTime('FilteredFromTime')"></time-date-picker>
            </div>
        </div>
        <div class="dialog__actions">
        </div>
    </lx-dialog>
    @*Modal for To Time filtering*@
    <lx-dialog class="dialog dialog--l" id="FilteredToTime" auto-close="true">
        <div class="dialog__header">
        </div>
        <div class="dialog__content">
            <div style="overflow-x:auto;">
                <time-date-picker ng-model="filterTime.ToTimeHolder"
                                  display-mode="time" orientation="false"
                                  on-save="saveFn(filterTime.ToTimeHolder); closeFilteredTime('FilteredToTime')"></time-date-picker>
            </div>
        </div>
        <div class="dialog__actions">
        </div>
    </lx-dialog>
</div>
<br>
<div class="card">
    <div class="myTableContainter" scrollable-container="getData()">
        <!--For IE-->
        <div id="progress"></div>
        <iframe id="exportTemplate" style="display:none"></iframe>
        <!--End of for IE-->
        <table class="myTableContent dir-export" id="export">
            <thead>
                <tr class="myTableRow-header" style="text-align:left">
                    <th class="myTableCell cell-seqno fs-subhead display-block tc-white" ng-click="actionForm('Refresh')">
                        <i class="icon icon--s icon--white icon--flat mdi mdi-reload" lx-tooltip="Refresh" tooltip-position="bottom"></i>
                    </th>
                    <th class="myTableCell cell-seqno fs-subhead display-block tc-white">
                        <strong>{{datadefinition.Header[datadefinition.Header.length - 1]}}</strong>
                    </th>
                    <th class="myTableCell cell-10 fs-subhead display-block tc-white"
                        ng-repeat="header in datadefinition.Header" ng-if="$index != (datadefinition.Header.length - 1)"
                        ng-click="processSorting(datadefinition.Keys[$index])">
                        <strong>{{filterHeader(header)}}</strong>
                        <span class="mdi mdi-sort-descending"
                              ng-show="criteria === datadefinition.Keys[$index] || criteria === '-' + datadefinition.Keys[$index] ? sortByDesc: false">
                        </span>
                        <span class="mdi mdi-sort-ascending"
                              ng-show="criteria === datadefinition.Keys[$index] || criteria === '-' + datadefinition.Keys[$index] ? sortByAsc: false">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="myTableRow"
                    ng-repeat="data in datadefinition.DataList | orderBy: criteria">
                    <td>
                        <lx-dropdown position="{{menuPosition}}" from-top="true">
                            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <lx-dropdown-menu>
                                <div id="menu"></div>
                                <ul ng-repeat="menu in datadefinition.contextMenuLabel">
                                    <li>
                                        <a class="dropdown-link dropdown-link--is-large" ng-click="setSelected(data.Id); actionForm(datadefinition.contextMenu[$index])">
                                            <i class="{{datadefinition.contextMenuLabelImage[$index]}}"></i>
                                            <span>{{menu}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </lx-dropdown-menu>
                        </lx-dropdown>
                    </td>
                    <td class="myTableCell cell-seqno fs-subhead display-block">
                        {{$index + 1}}
                    </td>
                    <td class="myTableCell cell-10 fs-subhead display-block"
                        ng-repeat="key in datadefinition.Keys">
                        {{filterValue(data[key], $index)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="divider divider--dark"></div>
    <div class="dialog__actions">
        <button class="btn btn--m btn--blue btn--raised"
                type="button"
                ng-click="actionForm('Create')"
                lx-ripple>
            Create
        </button>
    </div>
</div>
