<div id="progressMenu"></div>
<ul>
    <li ng-repeat="menu in parent">
        <a class="sidebar-menu__link" ng-click="currentSubMenuSelector == null ? null : menu.Url; setSelected(menu.Name, menu.Url, menu.Id)">
            {{menu.Name}}
        </a>
        <div id="{{menu.Name}}"></div>
    </li>
</ul>
