<div class="main-section">
    <h3 class="main-section__title">Appointment</h3>

    <div class="main-section__content">
        <div flex-container="row" flex-gutter="24">
            @*<div flex-container="row" flex-gutter="24" style="width:200px">*@
            <div flex-item ng-click="showDialog('fromDate')">
                <lx-text-field label="From" error="invalidateInput(userInfo.password)">
                    <input type="text" name="From" ng-model="appointmenInfo.fromDate" pattern=".{4,50}">
                </lx-text-field>
            </div>
            @*  </div>*@
            @*<div flex-container="row" flex-gutter="24" style="width:200px">*@
            <div flex-item ng-click="showDialog('toDate')">
                <lx-text-field label="To" error="invalidateInput(userInfo.password)">
                    <input type="text" name="To" ng-model="appointmenInfo.toDate" pattern=".{4,50}">
                </lx-text-field>
            </div>
            @* </div> *@
        </div>
        <lx-dialog class="dialog dialog--l" id="fromDate" auto-close="false">
            <div class="dialog__header">
            </div>
            <div class="dialog__content">
                <time-date-picker ng-model="appointmenInfo.fromDate" display-mode="date" orientation="false" on-save="saveFn(appointmenInfo.fromDate); closeFromDate('fromDate')"></time-date-picker>
            </div>
            <div class="dialog__actions">
            </div>
        </lx-dialog>

        <lx-dialog class="dialog dialog--l" id="toDate" auto-close="false">
            <div class="dialog__header">
            </div>
            <div class="dialog__content">
                <time-date-picker ng-model="appointmenInfo.toDate" display-mode="date" orientation="false" on-save="saveFn(appointmenInfo.toDate); closeToDate('toDate')"></time-date-picker>
            </div>
            <div class="dialog__actions">
            </div>
        </lx-dialog>
    </div>

</div>