@{
    Layout = "~/Views/Shared/_DataTableLayout2.cshtml";
}

@section TableContent{
    <div id="masterList"></div>
}

@section FormContent{
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="Date">
                <input type="text"
                       name="Date"
                       ng-model="dataDefinitionMaster.DataItem.ScheduleDate"
                       ng-disabled="true">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Time">
                <input type="text"
                       name="Time"
                       ng-model="dataDefinitionMaster.DataItem.ScheduleTime"
                       ng-disabled="true">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Dentist">
                <input type="text"
                       name="Dentist"
                       ng-model="dataDefinitionMaster.DataItem.DentistName"
                       ng-disabled="true" />
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div flex-item>
            <lx-text-field label="Message">
                <input type="text"
                       name="Message"
                       ng-model="dataDefinitionMaster.DataItem.Message"
                       ng-disabled="true" />
            </lx-text-field>
        </div>
    </div>
    <br />
    <div class="divider divider--dark"></div>
    <div flex-container="row" flex-gutter="24" style=" padding-top: 20px; padding-left:20px; padding-right:20px;">
        <div flex-item>
            For Clinic Only
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div flex-item>
            <lx-text-field label="Remarks" error="validateInput(dataDefinitionMaster.DataItem.Remarks)">
                <input type="text"
                       name="Remarks"
                       ng-model="dataDefinitionMaster.DataItem.Remarks"
                       ng-disabled="dataDefinitionMaster.ViewOnly" />
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div flex-item>
            <lx-text-field label="Remarks Date">
                <input type="text"
                       name="Remarks Date"
                       ng-model="dataDefinitionMaster.DataItem.TransactionDate"
                       ng-disabled="true" />
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Status">
                <input type="text"
                       name="Status"
                       ng-model="dataDefinitionMaster.DataItem.StatusHolder"
                       ng-disabled="true" />
            </lx-text-field>
        </div>
        <div flex-item style="{{checkBoxStyle}}">
            <div class="checkbox">
                <input type="checkbox" 
                       id="transactionStatus" 
                       class="checkbox__input" 
                       ng-model="dataDefinitionMaster.DataItem.TransactionStatus" 
                       ng-disabled="dataDefinitionMaster.ViewOnly">
                <label for="transactionStatus" class="checkbox__label">{{transactionStatusLabel}}</label>
            </div>
        </div>
    </div>
}
