<div class="main-section">
    <h3 class="main-section__title">Notifications</h3>

    <div class="main-section__content">
        <div id="chats" style="width: 80%; float: left;"></div>
    </div>
</div>