@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}

@section TableContent{
    <div id="masterList"></div>
}

@section Tab1Content{
    <div ng-show="selectedTab === 0">
        <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
            @*Patient Name*@
            <div flex-item>
                <lx-text-field label="Patient Name" error="validateInput(dataDefinitionMaster.DataItem.PatientName)">
                    <input id="PatientName"
                           type="text"
                           name="PatientName"
                           ng-model="dataDefinitionMaster.DataItem.PatientName"
                           ng-disabled="dataDefinitionMaster.ViewOnly"
                           ng-click="getPatientList();showDialog('Patients');"
                           ng-change="filterCharacters()" />
                </lx-text-field>
            </div>
            @*Appointment Date*@
            <div flex-container="row" flex-gutter="24" style="{{setStyle}}">
                <div flex-item>
                    <lx-text-field label="Appointment Date" error="validateInput(dataDefinitionMaster.DataItem.AppointmentDate)">
                        <input type="text"
                               name="AppointmentDate"
                               ng-model="dataDefinitionMaster.DataItem.AppointmentDate"
                               ng-disabled="true">
                    </lx-text-field>
                </div>
            </div>
            @*Appointment Time*@
            <div flex-container="row" flex-gutter="24" style="{{setStyle}}">
                <div flex-item>
                    <lx-text-field label="Appointment Time" error="validateInput(dataDefinitionMaster.DataItem.AppointmentTime)" style="{{setStyle}}">
                        <input type="text"
                               name="AppointmentTime"
                               ng-model="dataDefinitionMaster.DataItem.AppointmentTime"
                               ng-disabled="true" />
                    </lx-text-field>
                </div>
            </div>
            @*Dentist Name*@
            <div flex-item>
                <lx-text-field label="Dentist" error="validateInput(dataDefinitionMaster.DataItem.DentistName)">
                    <input type="text"
                           name="DentistName"
                           ng-model="dataDefinitionMaster.DataItem.DentistName"
                           ng-disabled="true" />
                </lx-text-field>
            </div>
        </div>
        <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
            @*Fee*@
            <div flex-item>
                <lx-text-field label="Fee" error="validateInput(dataDefinitionMaster.DataItem.Fee)">
                    <input id="Fee"
                           type="text"
                           name="Fee"
                           ng-model="dataDefinitionMaster.DataItem.Fee"
                           ng-disabled="dataDefinitionMaster.ViewOnly"
                           ng-change="filterCharacters(); initializeBalance()" />
                </lx-text-field>
            </div>
            @*Paid*@
            <div flex-item>
                <lx-text-field label="Paid">
                    <input id="Paid"
                           type="text"
                           name="Paid"
                           ng-model="dataDefinitionMaster.DataItem.Paid"
                           ng-disabled="dataDefinitionMaster.ViewOnly"
                           ng-change="filterCharacters(); initializeBalance()" />
                </lx-text-field>
            </div>
            @*Balance*@
            <div flex-item>
                <lx-text-field label="Balance">
                    <input id="Balance"
                           type="text"
                           name="Balance"
                           ng-model="dataDefinitionMaster.DataItem.Balance"
                           ng-disabled="true" />
                </lx-text-field>
            </div>
        </div>
        <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
            @*Notes*@
            <div flex-item>
                <lx-text-field label="Notes">
                    <input id="Notes"
                           type="text"
                           name="PatientName"
                           ng-model="dataDefinitionMaster.DataItem.Notes"
                           ng-disabled="dataDefinitionMaster.ViewOnly"
                           ng-change="filterCharacters()" />
                </lx-text-field>
            </div>
        </div>
        <br />
        @*Patient List Modal*@
        <lx-dialog class="dialog dialog--l" id="Patients" auto-close="true">
            <div class="dialog__header">
                <div class="toolbar bgc-light-blue-500 pl++">
                    <span class="toolbar__label tc-white fs-title">
                        Patient List
                    </span>
                </div>
            </div>
            <div class="dialog__content">
                <dir-data-modal1 datadefinition="dataDefinitionPatientList" filterdefinition="filterDefinitionPatient" otheractions="otherActionPatient(action)" closecontainer="closePatient(dialog)" showformerror="showFormErrorMaster(error)"></dir-data-modal1>
            </div>
            <div class="dialog__actions">
            </div>
        </lx-dialog>
        @*Appointment List Modal*@
        <lx-dialog class="dialog dialog--l" id="Appointments" auto-close="true">
            <div class="dialog__header">
                <div class="toolbar bgc-light-blue-500 pl++">
                    <span class="toolbar__label tc-white fs-title">
                        Appointment List
                    </span>
                </div>
            </div>
            <div class="dialog__content">
                <dir-data-modal1 datadefinition="dataDefinitionAppointmentList" filterdefinition="filterDefinitionAppointment" otheractions="otherActionAppointment(action)" closecontainer="closeAppointment(dialog)" showformerror="showFormErrorMaster(error)"></dir-data-modal1>
            </div>
            <div class="dialog__actions">
            </div>
        </lx-dialog>
    </div>
}

@section Tab2Content{
    <div ng-show="selectedTab === 1">
        <div id="progress"></div>
        <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
            @*Treatment Type*@
            <div flex-item>
                <lx-text-field label="Treatment" error="validateInput(dataDefinitionDetail.DataItem.TreatmentTypeName)">
                    <input id="Treatment"
                           type="text"
                           name="Treatment"
                           ng-model="dataDefinitionDetail.DataItem.TreatmentTypeName"
                           ng-disabled="dataDefinitionDetail.ViewOnly"
                           ng-click="showDialog('TreatmentType')"
                           ng-change="filterCharacters()">
                </lx-text-field>
            </div>
            @*Diagnosed Teeth*@
            <div flex-item>
                <lx-text-field label="Diagnosed Teeth(Separated by comma)" error="validateInput(dataDefinitionDetail.DataItem.DiagnosedTeeth)">
                    <input id="DiagnosedTeeth"
                           type="text"
                           name="DiagnosedTeeth"
                           ng-model="dataDefinitionDetail.DataItem.DiagnosedTeeth"
                           ng-disabled="dataDefinitionDetail.ViewOnly"
                           ng-change="filterCharacters(dataDefinitionDetail.DataItem.DiagnosedTeeth)">
                </lx-text-field>
            </div>
        </div>
        <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
            @*Diagnosis*@
            <div flex-item>
                <lx-text-field label="Diagnosis" error="validateInput(dataDefinitionDetail.DataItem.Diagnosis)">
                    <input id="Diagnosis"
                           type="text"
                           name="Diagnosis"
                           ng-model="dataDefinitionDetail.DataItem.Diagnosis"
                           ng-disabled="dataDefinitionDetail.ViewOnly"
                           ng-change="filterCharacters()">
                </lx-text-field>
            </div>
            @*Add Button*@
            <div flex-container="row" flex-gutter="24" style="{{setStyle1}}">
                <div flex-item style="padding-top:28px">
                    <button class="btn btn--m btn--blue btn--raised" ng-click="submitDetail()" ng-disabled="dataDefinitionDetail.ViewOnly">{{submitButtonTextDetail}}</button>
                </div>
            </div>
        </div>
        <br />
        <div id="detailList" style="padding-left:20px; padding-right:20px;"></div>
        <br />
        @*Treatment Type Modal*@
        <lx-dialog class="dialog dialog--l" id="TreatmentType" auto-close="true">
            <div class="dialog__header">
                <div class="toolbar bgc-light-blue-500 pl++">
                    <span class="toolbar__label tc-white fs-title">
                        Treatment Type List
                    </span>
                </div>
            </div>
            <div class="dialog__content">
                <dir-data-modal1 datadefinition="dataDefinitionTreatmentTypeList" filterdefinition="filterDefinitionTreatmentType" otheractions="otherActionTreatmentTypeList(action)" closecontainer="closeTreatmentTypeList(dialog)" showformerror="showFormErrorMaster(error)"></dir-data-modal1>
            </div>
            <div class="dialog__actions">
            </div>
        </lx-dialog>
    </div>
}
