<div class="main">
    <div class=" sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>
    <div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
        <div class="sidebar-menu">
            <div id="UserMenu"></div>
        </div>
    </div>
</div>
