@{
    Layout = "~/Views/Shared/_DataTableLayout2.cshtml";
}

@section TableContent{
    <div id="masterList"></div>
}

@section FormContent{
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="Username" error="validateInput(dataDefinitionMaster.DataItem.Username)">
                <input type="text"
                       name="Username"
                       ng-model="dataDefinitionMaster.DataItem.Username"
                       pattern=".{4,50}"
                       ng-disabled="true">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Password" error="validateInput(dataDefinitionMaster.DataItem.Password)">
                <input type="password"
                       name="Password"
                       ng-model="dataDefinitionMaster.DataItem.Password"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-select ng-model="dataDefinitionMaster.DataItem.UserType" placeholder="Type" choices="userTypeList" floating-label>
                <lx-select-selected>
                    {{ $selected.Name }}
                </lx-select-selected>

                <lx-select-choices>
                    {{ $choice.Name }}
                </lx-select-choices>
            </lx-select>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="First Name" error="validateInput(dataDefinitionMaster.DataItem.FirstName)">
                <input type="text"
                       name="FirstName"
                       ng-model="dataDefinitionMaster.DataItem.FirstName"
                       pattern=".{4,50}"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Middle Name" error="validateInput(dataDefinitionMaster.DataItem.MiddleName)">
                <input type="text"
                       name="MiddleName"
                       ng-model="dataDefinitionMaster.DataItem.MiddleName"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Last Name" error="validateInput(dataDefinitionMaster.DataItem.LastName)">
                <input type="text"
                       name="LastName"
                       ng-model="dataDefinitionMaster.DataItem.LastName"
                       ng-disabled="false">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="Height">
                <input type="number"
                       name="Height"
                       ng-model="dataDefinitionMaster.DataItem.Height"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Weight">
                <input type="number"
                       name="Weight"
                       ng-model="dataDefinitionMaster.DataItem.Weight"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-select ng-model="dataDefinitionMaster.DataItem.GenderDesc" placeholder="Gender" choices="genderList" floating-label>
                <lx-select-selected>
                    {{ $selected.Name }}
                </lx-select-selected>

                <lx-select-choices>
                    {{ $choice.Name }}
                </lx-select-choices>
            </lx-select>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="Birthdate">
                <input type="text"
                       name="Date"
                       ng-model="dataDefinitionMaster.DataItem.BirthDate"
                       ng-click="showDialog('BirthDate')"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-select ng-model="dataDefinitionMaster.DataItem.CivilStatusHolder" placeholder="Civil Status" choices="civilStatusList" floating-label>
                <lx-select-selected>
                    {{ $selected.Name }}
                </lx-select-selected>

                <lx-select-choices>
                    {{ $choice.Name }}
                </lx-select-choices>
            </lx-select>
        </div>
        <div flex-item>
            <lx-text-field label="Occupation">
                <input type="text"
                       name="Occupation"
                       ng-model="dataDefinitionMaster.DataItem.Occupation"
                       ng-disabled="false">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div flex-item>
            <lx-text-field label="Address">
                <input type="text"
                       name="Address"
                       ng-model="dataDefinitionMaster.DataItem.Address"
                       ng-disabled="false" />
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" style="padding-left:20px; padding-right:20px;">
        <div id="progress"></div>
        <div flex-item>
            <lx-text-field label="Email" error="!emailValidation(dataDefinitionMaster.DataItem.EmailAddress)">
                <input type="email" ng-model="dataDefinitionMaster.DataItem.EmailAddress">
            </lx-text-field>

            <span class="text-field-error" ng-if="!emailValidation(dataDefinitionMaster.DataItem.EmailAddress)">Email Address is invalid</span>
        </div>
        <div flex-item>
            <lx-text-field label="Contact Number">
                <input type="text"
                       name="ContactNo"
                       ng-model="dataDefinitionMaster.DataItem.ContactNo"
                       ng-disabled="false">
            </lx-text-field>
        </div>
        <div flex-item style="{{checkBoxStyle}}">
            <div class="checkbox">
                <input type="checkbox"
                       id="Status"
                       class="checkbox__input"
                       ng-model="dataDefinitionMaster.DataItem.StatusHolder"
                       ng-disabled="false">
                <label for="Status" class="checkbox__label">{{statusLabel}}</label>
            </div>
        </div>
    </div>
    <lx-dialog class="dialog dialog--l" id="BirthDate" auto-close="true">
        <div class="dialog__header">
        </div>
        <div class="dialog__content">
            <div style="overflow-x:auto;">
                <time-date-picker ng-model="dataDefinitionMaster.DataItem.BirthDateHolder"
                                  display-mode="date"
                                  orientation="false"
                                  on-save="saveFn(dataDefinitionMaster.DataItem.BirthDateHolder); closeDate('BirthDate')">
                </time-date-picker>
            </div>
        </div>
        <div class="dialog__actions">
        </div>
    </lx-dialog>
}

