
.signup {
    background-image: url('/libs/images/signup-1.jpg');
    background-size: 80px 60px;
    width: 100px;
    height: 100px; 
    background-repeat: no-repeat;
    border: 10px solid white;
}
